/*-----------*/
/* GENERAL */
body {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}

.row, p {
	margin: 0;
}

.container-fluid {
	padding: 0;
}

.col-md-12,.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

a:hover, a:active {
	text-decoration: none;
	color: #fff
}

a {
	color: #fff;
	font-size: 30px;
}

.underline:hover {
	border-bottom: 8px solid #00f3f0;
}

.float {
	padding: 20px 30px 0px 30px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

.float:hover {
	-webkit-transform:translate(0px,-15px);
	-moz-transform:translate(0px,-15px);
	-ms-transform:translate(0px,-15px);
	-o-transform:translate(0px,-15px);
	transform:translate(0px,-15px);
}

h1 {
    margin: 0;
    line-height: 0.75em;
}

a .fa, a i {
	font-size: 45px;
}

#view-portfolio .fa:hover, #about-page .fa:hover, #view-portfolio:hover, #viewportfolio a:hover {
	color: #fff;
	text-decoration: none;
}

.section-content-div {
	padding-top: 20px;
}

/*-----------*/
/* MAIN PAGE */
#main-page {
	height: 100vh;
	background: 
    linear-gradient(to bottom right,
      	rgba(255, 157, 183, 0.74),
      	rgba(255, 91, 91, 0.64)
    ),
    url(images/desk2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*MAIN PAGE header*/
#header {
	background-color: rgba(255, 228, 245, 0.38);
	width: 100%;
	height: 90px;
}

#logo-img {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
	height: auto;
}

#navigation {
	display: block;
	position: absolute;
	width: 50%;
	top: 25px;
	right: 20px;
	text-align: right;
}

#navigation a {
	margin: 0 10px;
	font-size: 20px;
	color: #fff
}
/*MAIN PAGE main text*/
#main-text {
	margin-top: 10%;
	width: 100%;
	height: 400px;
	font-size: 40px;
}

#intro {
	font-weight: 700;
}

#hi {
	font-size: 60px;
}
#view-portfolio {
	display: block;
	margin: 100px auto 0 auto;
	font-weight: 400;
	cursor: pointer;
	width: 20%;
	font-size: 16px;
	text-decoration: none;
}

#view-portfolio .fa {
	padding: 0;
}


/*----------------*/
/* PORTFOLIO PAGE */
#portfolio-page {
	background-color: #fff;
	color: #00f3f0;
	margin: 0 auto;
	padding: 0 100px 50px 100px;
}

#portfolio-page i{
	color: #00f3f0;
}

/*portfolio images*/
#btwn {
	background: url('images/betweenyouandme.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#friend {
	background: url('images/friendfinder.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#gif {
	background: url('images/giphyapp.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;	
}
#trivia {
	background: url('images/cocktailtrivia.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#gummy {
	background: url('images/gummybear.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-img {
	width: 100%;
	height: 300px;
	margin: 0 auto;
	border: 5px solid #fff;
	float: left;
}

h3, div .image-url {
	position: relative;
	top: 40%;
	font-size: 40px;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	color: #fff;
	background-color: transparent;
}
.image-url {
	color: #fff;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay:after {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:.85;
  background-color: rgb(103, 227, 226);
}

.overlay:hover:after  {
	transition: all 1s ease;
  	opacity: 0;
}
.teal:after {
  background-color: rgb(103, 227, 226);
}

/* ABOUT PAGE */
#about-page {
	background-color: #005952;
	padding: 0 30px;
}
#about-content-main{
	padding-top: 20px;
}
#about-page a {
	font-size: 20px;
}

.about-text {
	padding-left: 10px;
	width: 50%;
}

#me-div{
	margin: 0 auto;
	width: 300px;
	height: 300px;
	background-image: url('images/IMG_1691.JPG');
 	background-size: cover;
 	display: block;
 	border-radius: 300px;
 	-webkit-border-radius: 300px;
 	-moz-border-radius: 300px;
}
ul {
	padding-top: 5px;
}
li {
	text-align: left;
	font-size: 14px;
}

#resume {
	text-align: center;
	background-color: #00f3f0;
	margin: 0 auto;
	width: 10%;
	height: 50px;
	margin-top: 30px;
	color: #fff;
	padding: 10px;
}

#email {
	padding: 50px 0 20px 0;
}

/* FOOTER PAGE */
.footer {
	height: 90px;
	background-color: #012b27;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	color: #fff;
}

#icon-div .fa {
	font-size: 30px;
	padding: 0 3px;
	margin: 0;
}

#icon-div .fa:last-child {
	padding: 0;
}

#icon-div .fa:hover {
	color: #fff;
}

#icon-div, #copyright {
	display: block;
	position: absolute;
}
#icon-div {
	top: 5px;
	right: 20px;
}

#copyright {
	padding: 10px;
	bottom: 0;
	width: 100%;
	font-size: 16px;
}

@media only screen and (max-width: 768px) {
	#about-page {
		padding: 0;
	}

	#me-div {
		width: 200px;
		height: 200px;
	}
	.about-text {
		margin: 0 auto;
		padding-left: 0;
		float: left;
	}
}

@media only screen and (max-width: 667px) {
	#about-page {
		padding: 0 100px;
	}
	.about-text {
		width: 100%
	}

	#email, #email a {
		font-size: 16px;
	}
	#portfolio-page {
		padding: 0 30px 50px 30px;
	}

	#icon-div {
		margin: 0 auto;
		left: 0;
	}
	#view-portfolio {
		margin: 70px auto 0 auto;
	}

	#main-text {
		padding: 0 10px;
		font-size: 30px;
	}

	#hi {
		font-size: 50px;
	}

	#navigation a {
		font-size: 18px;
		margin: 0 5px;
	}

	#resume {
		width: 30%;
	}
}

@media only screen and (max-width: 550px) {
	#about-page {
		padding: 0 30px;
	}

	#resume {
		padding: 5px;
		height: auto;
	}
}
/* TO DO --- CONTACT PAGE */
/*#contact-page{
	background-color: #005952;
	color: #fff;
	height: 70vh;
}

#contact-page a{
	font-size: 30px;
	color: #fff;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: none;
    border-radius: 1px;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
}*/