/*-----------*/
/* GENERAL */

body {
	font-family: 'Inconsolata', monospace;
	font-size: 20px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	color: #fff;
	text-align: center;
}
h4{
    border-bottom: 1px solid rgba(255,255,255,0.5);
    padding-bottom: 10px;
    text-align: left;
}
.row, p {
	margin: 0;
}

.container-fluid {
	padding: 0;
}

.col-md-12,.col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

a:hover, a:active, a:focus {
	text-decoration: none;
	color: #fff;
	outline: none;
}

a {
	color: #fff;
	font-size: 30px;
}


.underline{
    padding-bottom: 10px;
    border-bottom: 8px solid transparent;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

.underline:hover {
    padding-bottom: 5px;
	border-bottom: 8px solid #00f3f0;
}

.float {
	padding: 20px 30px 0px 30px;
	-webkit-transition:all .3s ease-out;
	-moz-transition:all .3s ease-out;
	-ms-transition:all .3s ease-out;
	-o-transition:all .3s ease-out;
	transition:all .3s ease-out;
}

.float:hover {
	-webkit-transform:translate(0px,-15px);
	-moz-transform:translate(0px,-15px);
	-ms-transform:translate(0px,-15px);
	-o-transform:translate(0px,-15px);
	transform:translate(0px,-15px);
}

h1 {
    margin: 0;
    line-height: 0.75em;
}

a .fa, a i {
	font-size: 45px;
}

#view-portfolio .fa:hover, #about-page .fa:hover, #view-portfolio:hover, #viewportfolio a:hover {
	color: #fff;
	text-decoration: none;
}

.section-content-div {
	padding-top: 80px;
	padding-bottom: 100px;
}

/*-----------*/
/* MAIN PAGE */
#main-page {
	height: 100vh;
	background: 
    linear-gradient(to bottom right,
      	rgba(255, 157, 183, 0.74),
      	rgba(255, 91, 91, 0.64)
    ),
    url(images/desk2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*MAIN PAGE header*/
#header {
	background-color: rgba(255, 228, 245, 0.38);
    -webkit-box-shadow: 0px 8px 28px -4px rgba(140,28,37,0.1);
    -moz-box-shadow: 0px 8px 28px -4px rgba(140,28,37,0.1);
    box-shadow: 0px 8px 28px -4px rgba(140,28,37,0.1);
	width: 100%;
	height: 90px;
}

#logo-img {
	display: block;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100px;
	height: auto;
}

#navigation {
	display: block;
	position: absolute;
	width: 50%;
	top: 30px;
	right: 20px;
	text-align: right;
}

#navigation a {
	margin: 10px 10px 0px 10px;
	font-size: 20px;
	color: #fff
}
/*MAIN PAGE main text*/
#main-text {
	margin-top: 10%;
	width: 100%;
	height: 400px;
	font-size: 40px;
}

#intro {
	font-weight: 700;
}

#hi {
	font-size: 60px;
}
#view-portfolio {
	display: block;
	margin: 100px auto 0 auto;
	font-weight: 400;
	cursor: pointer;
	width: 20%;
	font-size: 16px;
	text-decoration: none;
}

#view-portfolio .fa {
	padding: 0;
}


/*----------------*/
/* PORTFOLIO PAGE */
#portfolio-page {
	background-color: #fff;
	color: #00f3f0;
	margin: 0 auto;
	padding: 0 100px 50px 100px;
}

#portfolio-page i{
	color: #00f3f0;
}

/*portfolio images*/
#btwn {
	background: url('images/betweenyouandme.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#friend {
	background: url('images/friendfinder.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#gif {
	background: url('images/giphyapp.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;	
}
#trivia {
	background: url('images/cocktailtrivia.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#gummy {
	background: url('images/gummybear.jpg');
	background-size: 300px auto;
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.portfolio-img {
	width: 98%;
	height: 300px;
	margin: 0px auto;
    border: 1px solid rgba(103, 227, 226,1); 
}

h3 {
	position: relative;
	top: 40%;
	font-size: 40px;
	width: 100%;
	margin: 0 auto;
	z-index: 100;
	color: #fff;
	background-color: transparent;
	visibility: visible;
	display: block;
}



/*PROJECT OVERLAYS CSS*/
.project-wrap{
	margin: 8px auto;
}
.overlay {
    position: absolute;
    display: block;
    width: 98%;
    height: 300px;
    margin: auto;
    background: rgba(103, 227, 226,0.8); 
    top: 0; left: 0; bottom: 0; right: 0;
}
.project-title-desktop{
    font-size: 42px;
    font-weight: 700;
}
.project-title-mobile{
    display: none;
}
.image-url{
    position: absolute;
    display: block;
    width: 98%;
    height: 300px;
    margin: auto;
    top: 50px; left: 0; bottom: 0; right: 0; 
    opacity: 0;
    z-index: 1000;
}
.link{
    position: relative;
    top:125px;
	text-align: center;
	background-color: rgba(103, 227, 226,1);
	color: #fff;
	padding: 10px 50px;
	transition: all 0.5s ease;
    -webkit-box-shadow: 0px 8px 28px -4px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 8px 28px -4px rgba(0,0,0,0.8);
    box-shadow: 0px 8px 28px -4px rgba(0,0,0,0.8);
}
.link:hover {
	background-color: #ff8c95;
}


/* ABOUT PAGE */
.about-list-wrap{
    width:75%;
    display: block;
    margin: 50px auto;
}
#about-page {
	background-color: #005952;
    background-image: url(images/floral-bg.png);
    background-repeat: repeat;
	padding: 0 8%;
}
#about-content-main{
	padding-top: 80px;
	padding-bottom: 0px;
}
#about-page a {
	font-size: 20px;
}

#me-div{
	margin: 0 auto;
	background-image: url('images/IMG_1691.JPG');
 	background-size: cover;
 	display: block;
 	border-radius: 50%;
 	-webkit-border-radius: 50%;
 	-moz-border-radius: 50%;
    width: 100%;
    height: auto;
    padding-top: 100%;
}
ul {
	padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 30px;
    list-style:square;
}
li {
	text-align: left;
	font-size: 18px;
    color: #00f3f0;
}
li p{
    color:#fff;
    font-size: 16px;
}

#resume {
	text-align: center;
	background-color: #00f3f0;
	margin: 0 auto;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	color: #fff;
	padding: 10px;
	transition: all 0.5s ease;
}

#resume:hover {
	background-color: #ff8c95;
}

#email {
	padding: 50px 0 70px 0;
    font-size: 16px;
}

/* FOOTER PAGE */
.footer {
	height: 90px;
	background-color: #012b27;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	color: #fff;
}

#icon-div .fa {
    padding-bottom: 10px;
	font-size: 30px;
	margin: 0 5px;
	transition: all 0.5s ease;
    opacity: 0.2;
    border-bottom: 8px solid transparent;
}

#icon-div .fa:hover {
    padding-bottom: 5px;
    border-bottom: 8px solid #00f3f0;
    opacity: 1;
}

#icon-div, #copyright {
	display: block;
	position: absolute;
}
#icon-div {
	top: 23px;
	right: 20px;
}

#copyright {
    padding: 10px;
    top: 25px;
    width: 100%;
    font-size: 14px;
    color: rgba(255,255,255,0.2);
}


@media only screen and (max-width: 991px) {
	#about-page {
		padding: 0;
	}
	#me-div {
		padding-top: 0;
		height: 400px;
		width: 400px;
	}
}

@media only screen and (max-width: 667px) {

	.project-title-desktop{
    	display: none;
	}
	.project-title-mobile{
		display: inherit;
	    position: absolute;
	    top:40px;
	    font-size: 40px;
	    font-weight: 700;
	}
	#me-div{
	    width: 275px;
	    height: 275px;
	    padding-top: 5%;
	}
	#about-page {
		padding: 0 100px;
	}

	#email, #email a {
		font-size: 16px;
	}
	#portfolio-page {
		padding: 0px 0px 0px 0px;
	}

	#icon-div {
        margin: 0 auto;
        left: 0;
        display: block;
        width: 100%;
	}
	#view-portfolio {
		margin: 70px auto 0 auto;
	}

	#main-text {
		padding: 0 10px;
		font-size: 30px;
	}

	#hi {
		font-size: 50px;
	}

	#navigation a {
		font-size: 18px;
		margin: 0 5px;
	}

	.image-url {
		opacity: 1;
	}
}

@media only screen and (max-width: 550px) {
    
    .about-list-wrap {
        width: 80%;
        display: block;
        margin: 20px auto;
    }
    #about-content-main {
        padding-top: 55px;
    }
	#about-page {
		padding: 0 30px;
	}
	#icon-div {
        top:10px;
	}
    
    #icon-div .fa {
        padding-bottom: 5px;
        font-size: 30px;
        margin: 0 5px;
        transition: all 0.5s ease;
        opacity: 0.5;
        border-bottom: 8px solid transparent;
    }

    #icon-div .fa:hover {
        border-bottom: 8px solid transparent;
        opacity: 1;
    }
    
    #copyright {
        padding: 10px;
        top: 45px;
        width: 100%;
        font-size: 10px;
        color: rgba(255,255,255,0.2);
    }
	#resume {
		padding: 5px;
		height: auto;
	}

	.image-url a {
		display: block;
		margin: 0 auto 10px auto;
		width: 75%
	}

	.link {
	    top: 100px;
	    padding: 5px 25px;
	}
}

@media only screen and (max-width: 320px) {

	#about-page {
		padding: 0 5px;
	}

	#resume {
		width: 100%;
		padding: 5px;
		margin: 0 auto;
	}
	.project-title-mobile{
	    font-size: 30px;
	}
}
/* TO DO --- CONTACT PAGE */
/*#contact-page{
	background-color: #005952;
	color: #fff;
	height: 70vh;
}

#contact-page a{
	font-size: 30px;
	color: #fff;
}

.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: none;
    border-radius: 1px;
}
.form-control:focus {
    border-color: none;
    box-shadow: none;
}